.back {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 30px;
    width: max-content;
    height: 40px;
    background: #3366FF;
    border-radius: 3px;
    color: #fff;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}