.container {
    margin: 0 auto;
    max-width: 1200px;
    @media (max-width: 1280px) {
        max-width: 980px;
    }
    @media (max-width: 1024px) {
        max-width: 708px;
    }
    @media (max-width: 768px) {
        width: 80%;
    }
    @media (max-width: 576px) {
        width: 90%;
    }
}